* {
margin: 0;
padding: 0;
borderwidth: 0;
}
#wrap {
position: relative;
top: -55px;
left: -275px;
width: 680px;
height: 140px;
text-align: left;
overflow: hidden;
-moz-transform: scale(.18);
-o-transform: scale(.18);
-webkit-transform: scale(.18);
transform: scale(.18);
align: center;
}

#wrap img.time {
float: left;
}
#wrap #cover {
position: absolute;
top: 0;
left: 0;
width: 680px;
height: 140px;
}
*html body #wrap #cover {
width: 0px;
height: 0px;
}
